{{#if submitted}}
    Card saved successfully!
{{/if}}
{{# if cardNumberNotValid}}
    Please Enter valid card Number
{{/if}}
{{#if cvvNotValid}}
    Please Enter valid CVV
{{/if}}
{{#if dateNotValid}}
    Please Enter valid date
{{/if}}
{{#if nameNotValid}}
    Please Enter valid name
{{/if}}
<br>
<form method="post" action='/api/card'>
    <label>Your Name: </label>
    <input type="text" name="name" placeholder="Enter Your Full Name"/>
    <br/><br/>
    <label>Card Number: </label>
    <input type="number" name="cardNumber" placeholder="Enter your Card number"/>
    <br/><br/>
    <label>Valid till:</label>
    <input type="month" name="expiry" placeholder="Enter Expiry Date"/>
    <br/><br/>
    <label>CVV: </label>
    <input type="text" name="cvv" placeholder="Enter CVV"/>
    <br/><br/>
    <button type="submit">Submit</button>
</form>

<p>All the cards present:</p>

<ul>
    {{#each cards}}
        <li class="listItem">
            <p>Card {{@index}}:</p>
            <span>Card Number:</span>
            <span>{{this.cardNumber}}</span>
            <span id="form2">
                <input type="text" name="cvv"/>
                <button class="checkButton">Verify CVV</button>
            </span>
        </li>
    {{/each}}
</ul>

<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.12/handlebars.js"></script>

<script
        src="https://code.jquery.com/jquery-3.3.1.js"
        integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
        crossorigin="anonymous">
</script>

<script>

    $('.checkButton').on('click', function(){
      let element = $(this);
      let button = element[0];
      let cvv = button.previousElementSibling.value;
      let cardNum = button.parentElement.previousElementSibling;
      let number = $(cardNum)[0].innerText;
      console.log("button:", number, cvv);

      $.ajax({
         url: `http://0.0.0.0:3000/api/card?number=${number}&cvv=${cvv}`
      })
      .done(function( data ) {
          console.log("done!!", data);
          alert(data.status);
      });
    });
</script>


