{{#if submitted}}
    <p>Your response has been submitted sucsessfuly!</p>
{{/if}}

<form method="post" action='/api/card'>
    <br/><br/>
    <label>Your Name: </label>
    <input type="text" name="name" placeholder="Enter Your Full Name"/>
    <br/><br/>
    <label>Card Number: </label>
    <input type="number" name="cardNumber" placeholder="Enter your Card number"/>
    <br/><br/>
    <label>Valid till:</label>
    <input type="month" name="expiry" placeholder="Enter Expiry Date"/>
    <br/><br/>
    <label>CVV: </label>
    <input type="text" name="cvv" placeholder="Enter CVV"/>
    <br/><br/>
    <button type="submit">Submit</button>
</form>

<p>All the cards present:</p>

{{#each cards}}
   <li class="listItem">Card {{@index}}: {{this.cardNumber}}
        <span id="form2">
            <input type="text" name="cvv"/>
            <button onclick="check(this)">check</button>
        </span>
   </li>
{{/each}}

<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.12/handlebars.js"></script>

<script
        src="https://code.jquery.com/jquery-3.3.1.js"
        integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
        crossorigin="anonymous">

</script>

<script>

    // Handlebars.registerHelper('check', function (object) {
    //     console.log("the object passed is:", object);
    // });

    function check(object){

        console.log("the object passed is:", object);

        // $.ajax({
        //     url: `http://0.0.0.0:3000/api/card/?id=${number}&cvv=${cvv}`,
        // })
        // .done(function( data ) {
        //    console("done!!");
        // });


    }
</script>


